doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    if clientGlobals
      script.
        var tmpy = !{JSON.stringify(clientGlobals)}
  body
    block content
    script(src='/js/upload.js')
    script(src='/js/main.js')
