html {
  border: 5px dashed #efefef;
  height: 100vh;
  box-sizing: border-box;
}

body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #444;
}

a {
  color: #00B7FF;
}
small {
  color: ;
}

.copy {
  cursor: pointer;
  margin-left: 0.5rem;
  border: none;
  background: transparent;
  padding: 0;
}

#drop {
  display: block;
  line-height: 420px;
  text-align: center;
  border: 3px dashed #d4d2d2;
  position: relative;
  cursor: pointer;
  background-color: #efefef;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#drop:hover {
  background-color: #e6e6e6;
  border: 3px dashed #b9b9b9;
}

#drop > input {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%;
  visibility: hidden;
}

.drag-over {
  background: #efe;
}

#drop:hover .drop-hint {
  background: #d4d2d2;
  padding: 1rem;
  border-radius: 2px;
  color: #444;
}
span.drop-hint {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

ul#uploads {
  list-style-type: square;
}

#uploads li {
  padding: .2rem .5rem;
}

#uploads progress {
  margin-right: 0.5em;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: 0;

  background-color: #eee;
}
progress::-moz-progress-bar {
  background-color: #00B7FF;
  transition: background-color 100ms;
}
progress:indeterminate::-moz-progress-bar {
  background-color: #dd9;
}
progress::-webkit-progress-value {
  background-color: #00B7FF;
  transition: background-color 100ms;
}
progress::-webkit-progress-bar {
  background-color: #eee;
  transition: background-color 100ms;
}
progress:indeterminate::-webkit-progress-bar {
  background-color: #dd9;
}
