body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.copy {
  cursor: pointer;
  margin-left: 0.5rem;
  border: none;
  background: transparent;
  padding: 0;
}

#drop {
  display: block;
  line-height: 420px;
  text-align: center;
  border: 1px solid #000;
  position: relative;
  cursor: pointer;
}

#drop > input {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%;
  visibility: hidden;
}

.drag-over {
  background: #efe;
}

#drop:hover .drop-hint {
  background: #9d9;
  padding: 0.5rem;
  border-radius: 5px;
}
